// title 
.header-title {
    color: black;
    line-height: 45px;
    font-family: Segoe UI;
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
    // logo
    .header-logo {
      vertical-align: middle;
      margin-bottom: 4px;
      max-width: 40px;
      max-height: 40px;
    }
}